[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/auth"]
	path = modules/auth
	url = https://github.com/kohana/auth.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = https://github.com/kohana/userguide.git
[submodule "modules/database"]
	path = modules/database
	url = https://github.com/kohana/database.git
